body{
  margin: 0;
  text-align: center;
  font-family: 'Bungee Hairline', cursive;
  font-size: 1.5rem;
}

h1{
  color: #11999E;
  font-family: 'Bungee Shade', cursive;
  font-size: 2.5rem;
  line-height: 2rem;
  margin: 2.5rem auto 0 auto;
}

h2{
  color: #11999E;
  font-weight: normal;
}

a, h3{
  color: #11999E;
}

hr{
  border-style: none;
  border-top-style: dotted;
  border-spacing: 4px;
  border-width: 4px;
  color: lightgrey;
  width: 12%;
}

.gifs{
  width: 10%;
}

.top_cloud{
  position: absolute;
  top: 20%;
  right: 30%;
}

.top_container {
  background-color: #66BFBF;
  position: relative;
  padding-top: 50px
}

.top_container img{
  width: 20%;
}
.top_container h2{
  font-size: 2.5rem;
}

.middle_container {
}

.skill-row-left {
  margin: 100px auto;
  text-align: left;
  width: 50%;
}

.skill-row-right {
  margin: 100px auto;
  text-align: left;
  width: 50%;
}

.gifs_left{
  float: left;
  margin-right: 30px;
  width: 20%;
}

.gifs_right{
  float: right;
  margin-left: 30px;
  width: 20%;
}

.btn {
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: 'Bungee Hairline', cursive;
  color: white;
  font-size: 30px;
  padding: 6px;
  background: #66BFBF;
  text-decoration: none;
}

.btn:hover {
  background: #66BFBF;
  text-decoration: none;
}

.bottom-container {
  background-color: #66BFBF;
  margin-top: 3rem;
  padding-top: 2rem;
  height: 150px;
}

.bottom_cloud{
  top: 40%;
  left: 30%;
  position: absolute;
}
